body { 
    font-family: Arial;
    margin: 2rem;
}

#map {
    height: 100%;
}

.Grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.GridElements {
    background-color: lightslategrey;
    height: auto;
    color: white;
    padding: 2rem;
    font-size: 1.2rem;
}

#LoginContainer {
    grid-column: 1;
    grid-row: 1;
    padding: 2rem;
}

#HistoryContainer {
    grid-column: 1;
    grid-row: 2/4;
}

#MapContainer {
    grid-column: 2/4;
    grid-row: 1/4;
}

table {
    text-align: left;
}
table * {
    padding-right: 0.5rem;
}
tr:not(:first-child):hover {
    transform: scale(1.2);
    transform-origin: left
}

input {
    border: none;
    background-color: white;
    padding: 0.2rem;
}

