body {
    padding: 2rem;
    background-color: cadetblue;
    color: white;
    font-family: Arial;
}

.page {
    
}

.page > h3 {
    text-align: center;
    border-bottom: solid rgba(255, 255, 255, 0.5) 2px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 3.5rem;
    line-height: 3.5rem;
}

.page > h4 {
    text-align: center;
}

.page > p { font-size: 1.2rem; }

.page > * { width: 100%; }

.page > input { height: 2rem; margin-bottom: 1rem;}

.page > h1 { margin-bottom: 3rem; }

.submitButton {
    margin-top: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: darkslategray;
    color: white;
    border: none;
    transition: ease-in-out 0.5s;
}

#NewTripPage > h1 {
    text-align: center;
}